* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    background-color: #eeeeee;
}

main {
    flex-grow: 1;
    margin-block: 2rem;
}

footer {
    display: grid;
    place-content: center;
    padding-inline: 1.5rem;
    padding-block: 2.75rem 1.5rem;
    clip-path: polygon(0 0, 100% 2.5rem, 100% 100%, 0 100%);
    background-color: #222831;
    color: #eeeeee;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    width: 100%;
    max-width: 38rem;
    margin-inline: auto;
}

form .skupina {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

form input {
    border-radius: 100vmax;
    min-width: 19rem;
}

form textarea {
    width: 100%;
    min-height: 3.5rem;
    resize: vertical;
    border-radius: 1.25rem;
}

form input,
form textarea {
    appearance: none;
    padding-block: 0.6rem;
    padding-inline: 1rem;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 1rem;
}

.kontejner {
    width: 100%;
    max-width: 64rem;
    margin-inline: auto;
    padding-inline: 1.5rem;
}

.sloupce {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    gap: 1.25rem;
}

.tlacitko {
    appearance: none;
    display: inline-block;
    font-size: 1.125rem;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #00ADB5;
    color: #eeeeee;
    padding-inline: 2.2rem;
    padding-block: 0.75rem;
    border: none;
    border-radius: 100vmax;
    cursor: pointer;
    transition: background-color 0.2s;
}

.tlacitko.aktivni,
.tlacitko:hover {
    background-color: #008288;
}

.karta {
    border-radius: 1.25rem;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
}

.zahlavi {
    padding-block: 1.25rem;
    background-color: #222831;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 4rem;
}

.menu nav ul a {
    color: #eeeeee;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.125rem;
    position: relative;
}

.menu nav ul a:not(.tlacitko)::after {
    content: "";
    position: absolute;
    inset-inline: 0;
    inset-block-start: 100%;
    height: 0.125rem;
    background-color: #00ADB5;
    transform: scaleX(0);
    transition: transform 0.2s;
    transform-origin: right;
}

.menu nav ul a:not(.tlacitko).aktivni::after,
.menu nav ul a:not(.tlacitko):hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.domu {
    align-items: center;
}

.domu img {
    display: block;
    margin-inline-start: auto;
    max-height: 28rem;
}

.domu .obsah {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.25rem;
    font-size: 1.25rem;
}

.domu .obsah * {
    margin: 0;
    max-width: 20.8rem;
}

.dovednosti section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
    padding-inline: 1.6rem;
    padding-block: 2.4rem;
    text-align: center;
}

.dovednosti section * {
    margin: 0;
}

.dovednosti img {
    height: 6rem;
}

.dovednosti h2 {
    font-size: 1.5rem;
    font-weight: 600;
}